<!DOCTYPE html>
<html>

<head>
    {% include 'styles.html' %}
    {% if title %}
    <title>Flask Blog - {{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
</head>

<body>
    {% include 'navigation.html' %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            {% include 'sidebar.html' %}
        </div>
    </main>

    {% include 'scripts.html' %}
</body>

</html>